{% extends "Appfinal/template_logueado.html" %}

{% load static %}

{% block B %}

    <h1> Clientes </h1>
    {% for a in object_list %}
        <p>
            {{a.id}}
            {{a.nombre_cliente}} 

            <a href="{% url 'clienteEliminar' a.id %}">Borrar</a>
            <a href="{% url 'clienteModificar' a.id %}">Modificar</a>
            <a href="{% url 'clienteDetalle' a.id %}">Perfil</a>
        </p>
        
    {% endfor %}
    <p>
        <a href ="/Appfinal/crear_cliente/"> Agregar cliente </a>
    </p>
    <p>
        <a href ="/Appfinal/busqueda_cliente/"> Buscar un cliente </a>
    </p>
{% endblock %}