{% extends "Appfinal/template_logueado.html" %}

{% load static %}

{% block B %}

    <h1> Empleados </h1>
    {% for a in object_list %}
        <p>
            Puesto numero: {{a.id}} <br>
            Nombre: {{a.nombre_empleado}} <br> 
            <a href="{% url 'empleadoEliminar' a.id %}">Borrar</a>
            <a href="{% url 'empleadoModificar' a.id %}">Modificar</a>
            <a href="{% url 'empleadoDetalle' a.id %}">Ficha</a>
        </p>
    {% endfor %}
    <p>
        <a href ="/Appfinal/crear_empleado/"> Agregar empleado </a>
    </p>
        <a href ="/Appfinal/busqueda_Empleado/"> Buscar un empleado </a>
{% endblock %}