{% extends "Appfinal/padre.html" %}

{% load static %}

{% block B %}

    <h1> Productos </h1>
    {% for a in object_list %}
        <p>
            {{a.id}}
            {{a.nombre_producto}}
        
            <a href="{% url 'productoEliminar' a.id %}">Borrar</a>
            <a href="{% url 'productoModificar' a.id %}">Modificar</a>
            <a href="{% url 'productoDetalle' a.id %}">Detalle</a>
        </p>
    {% endfor %}
    <p>
        <a href ="/Appfinal/crear_producto/"> Agregar producto </a>
    </p>
{% endblock %}