{% extends "Appfinal/template_logueado.html" %}

{% load static %}

{% block B %}

    <h1> Productos </h1>
    {% for a in object_list %}
        <p>
            ID: {{a.id}} <br>
            Nombre: {{a.nombre_producto}} <br>
            Fecha de creacion: {{a.fecha_de_creacion}} <br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'productoEliminar' a.id %}">Borrar</a>
            <a href="{% url 'productoModificar' a.id %}">Modificar</a>
            <a href="{% url 'productoDetalle' a.id %}">Detalle</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <a href="{% url 'productoDetalle' a.id %}">Detalle</a>
            {% endif %}
        </p>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <a href ="/Appfinal/crear_producto/"> Agregar producto </a> <br>
    <a href ="/Appfinal/busqueda_producto/"> Buscar un producto </a>
    {% endif %}
{% endblock %}
